pre-commit==4.5.1
ruff==0.15.4
yamllint==1.38.0
sqlfluff==4.0.4
ansible-lint==26.1.1
shellcheck-py==0.11.0.1
actionlint-py==1.7.11.24
shfmt-py==3.12.0.2
clang-format==19.1.7
dotenv-linter==0.7.0
semgrep==1.107.0
